/**
 * The following styles get applied inside the editor only.
 */
/* Visibility classes */

.hidden-devices {
    opacity: 0.1!important;
}

@media (min-width: 1025px) {
    .visible-desktop {
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .visible-tablet {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .visible-mobile {
        opacity: 1;
    }
}

@import "hamburgers";