/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 
.hamburger:focus {
	outline-width: 0!important;
}


/* Visibility classes */
.visible-desktop {
    display: none;
}

.visible-tablet {
    display: none;
}

.visible-mobile {
    display: none;
}

@media (min-width: 1025px) {
    .visible-desktop {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .visible-tablet {
        display: block;
    }
}

@media (max-width: 767px) {
    .visible-mobile {
        display: block;
    }
}

 @import "hamburgers";